body {
  background-color: #eae7dc;
}

.footer-clean {
  /*position: fixed;*/
}

.btn.btn-primary.btn-block.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #d8c3a5;
  border-color: #d8c3a5;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 .2rem #d8c3a5;
}

a:hover {
  color: #e98074;
}

a {
  color: #e98074;
}

